.headerMain{
    display: flex;
    width: 100vw;
    height: 6vh;
    min-width: fit-content;
    border-bottom: 2px solid lightgray;
}
.HeaderMain__Right{
    display: flex;
}
.HeaderMain__Selectcourse{
    display: flex;
    width: 30vw;
    height: 4vh;
    border: 1px solid lightgray;
    align-items: center;
    justify-content: center;
}
.HeaderMain__Selectcourse__Name{
    display: flex;
    width: 30vw;
    height: 4vh;
    border-right: 1px solid lightgray;
}