.Notification{
    display: flex;
    flex: 0.3!important;
    border: 2px solid lightgray;
    height: 70vh;
    width: 100%;
    overflow:scroll;
}
@media(max-width:1085px){
  .Notification{
    flex: 1;
    border: none;
    align-items: center;
    justify-content: center;
}
  }